.about {
  background: white;
  width: 100%;
  margin: 0;
  padding-top: 90px;
  box-sizing: border-box;
}

.about__container {
  max-width: 672px;
  background-color: white;
  margin: 0 auto;
  color: black;
}
